acm-sdk-python==0.4.11
aliyun-python-sdk-core-v3==2.13.9
aliyun-python-sdk-ecs==4.17.4
aliyun-python-sdk-ess==2.3.0
aliyun-python-sdk-r-kvstore==2.1.2
aliyun-python-sdk-rds==2.3.9
aliyun-python-sdk-slb==3.2.13
aliyun-python-sdk-vpc==3.0.9
ansible==2.8.2
jwcrypto===0.6.0
ldap3==2.6.1
lxml==4.5.0
oss2==2.9.0
pandas==0.24.2
pycryptodome==3.9.0
python-jenkins==1.6.0
pymysql==0.9.3
python-gitlab==1.4
qiniu==7.2.6
redis==3.3.8
requests==2.22.0
ucloud-sdk-python3==0.4.0
